* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --primary-color: #3D518C;
    --secundary-color: #333333;
    --button-color: #8338EC;
    --button-hover: #461d80;
    --border-color: #8447FF;
    --users-color: #2D82B7;
}

.container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--primary-color);
}

/* Configurações área de cadastrar */

.cadastrar {
    height: 250px;
    width: 900px;
    border-radius: 15px;
    padding: 1em;

    background-color: var(--secundary-color);

    display: none;
}

.cadastrar > h1 {
    font-size: 3em;
    font-weight: 900;
    text-align: center;

    color: #fff;
}

.cadastrar > form {
    margin-top: 40px;
}

.cadastrar > form > label {
    font-size: 1.3em;
    font-weight: bold;
    margin-right: 20px;

    color: #fff;
}

.cadastrar > form > input {
    padding: .7em;
    font-size: 1.5em;
    outline: none;
    margin-right: 15px;
    border: none;
    border-bottom: 2px solid #fff;
 
    background-color: transparent;
    color: #fff;
}

.cadastrar > form > input:focus {
    transition: .9s;
    border-bottom-color: var(--border-color);
}

.cadastrar > form > button {
    padding: .7em;
    font-size: 1.5em;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 30px;

    color: #fff;
    background-color: var(--button-color);
}

.cadastrar > form > button:hover {
    transition: 0.8s;
    background-color: var(--button-hover);
}

/* Configurações área de cadastrados */

.cadastrados {
    width: 900px;
    padding: 1em;
    border-radius: 15px;

    background-color: var(--secundary-color);
}

.cadastrados > h1 {
    font-size: 3em;
    font-weight: 900;
    text-align: center;
    margin-bottom: 15px;

    color: #fff;
}

.cadastrados > .title {
    display: flex;
    justify-content: space-around;

    background-color: var(--primary-color);
    color: #fff;
}
