@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Lato, sans-serif;
}

:root {
    --first-color: #FF9F1C;
    --second-color: #FFFFFF;
    --third-color: #CBF3F0;
    --room-color: #2EC4B6;
    --fifth-color: #171219;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    background-image: url(../imagens/background-photo.jpg);
    background-position: center;
    background-size: cover;
    
}

.container {
    width: 600px;
    overflow: hidden;
    position: absolute;
}

.content {
    display: flex;
    justify-content: space-around;
    width: 200%;
    height: 100%;
    overflow: hidden;

    position: relative;
    transition: transform .8s ease-in-out;
}

/* Efeito para troca de form  */

.active {
    transform: translateX(-50%);
}

/* Configurações input moderno */

.name-container, .email-container, .password-container {
    position: relative;
    margin-bottom: 40px;
}

input {
    width: 100%;
    padding: .7em;
    font-size: 1.4em;
    outline: none;
    background-color: transparent;
    border: 2px solid var(--room-color);
    border-radius: 7px;

    color: var(--second-color);
}

label {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.3em;
    transition: .3s ease-in-out;
    padding: 0px 3px;
    
    color: #999;
    background-color: var(--fifth-color);
}

input:focus + label,
input:not(:placeholder-shown) + label {
    top: 0;
    color: var(--room-color);
} 

/* Configurações span para ver senha digitada */

#toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

/* Configurações spin button */

#load_cadastro {
    display: none;
}

#load_login {
    display: none;
}

.load > button {
    width: 100%;
    padding: .2em;
    font-size: 1.5em;
    font-weight: bold;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 40px;

    color: #fff;
    background-color: var(--room-color);

    display: flex;
    align-items: center;
    justify-content: center;
}

.load > button > .spin {
    height: 45px;
    width: 45px;
    border: 3px solid var(--second-color);
    border-radius: 50%;
    border-bottom-color: transparent;
}

.spin {
    animation-name: spin;
    animation-timing-function: ease-in-out;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

/* Configurações keyframe spin button */

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }

}

/* Configurações mensagem de error */

.error {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.error > p {
    color: red;
    font-size: 1.2em;
}

/* Configurações form cadastro */

.cadastro {
    height: 650px;
    width: 600px;
    border-radius: 15px;
    padding: 1em;

    border: 2px solid var(--room-color);
    background-color: var(--fifth-color);
    color: var(--second-color);
}

.cadastro > h1 {
    font-size: 3.4em;
    font-weight: 900;
    text-align: center;
    margin-bottom: 30px;
}

.cadastro > form {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}

.cadastro > form > p {
    font-size: 1.5em;
    text-align: center;
}

.cadastro > form > p > a {
    text-decoration: none;

    color: var(--room-color);
}

.cadastro > form > p > a:hover {
    transition: .8s;

    color: var(--first-color);
}

.cadastro > form > button {
    padding: .7em;
    font-size: 1.5em;
    font-weight: bold;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 40px;

    color: #fff;
    background-color: var(--room-color);
}

.cadastro > form > button:hover {
    transition: .8s;

    background-color: var(--first-color);
}

/* Configurações form login */

.login {
    height: 650px;
    width: 600px;
    border-radius: 15px;
    padding: 1em;

    border: 2px solid var(--room-color);
    background-color: var(--fifth-color);
    color: var(--second-color);
}

.login > h1 {
    font-size: 3.4em;
    font-weight: 900;
    text-align: center;
    margin-bottom: 30px;
}

.login > form {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}

.login > form > p {
    font-size: 1.5em;
    text-align: center;
}

.login > form > p > a {
    text-decoration: none;

    color: var(--room-color);
}

.login > form > p > a:hover {
    transition: .8s;

    color: var(--first-color);
}

.login > form > button {
    padding: .7em;
    font-size: 1.5em;
    font-weight: bold;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 40px;

    color: #fff;
    background-color: var(--room-color);
}

.login > form > button:hover {
    transition: .8s;

    background-color: var(--first-color);
}
