<!DOCTYPE html>

<html lang="pt-br">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conteúdo</title>


    <style>

        body {
            height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
            
            background-color: #000;
        }

        h1 {
            font-size: 4em;
            text-align: center;
            
            color: #fff;
        }

    </style>

</head>

<body>

    <h1>OK</h1>    

</body>

</html>