<!DOCTYPE html>

<html lang="pt-brd">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Content</title>
    <link rel="stylesheet" href="../static/css/content.css">

</head>

<body>

    <div class="container">

        <div class="content">

            <div class="cadastrar">

                <h1>Cadastrar</h1>

                <form action="/cadastrar_user" method="POST" autocomplete="off">

                    <label for="name">Nome:</label>
                    <input type="name" name="name" id="name" required placeholder="Digite seu nome aqui">

                    <label for="age">Idade:</label>
                    <input type="number" name="age" id="age" required placeholder="Digite sua idade aqui">

                    <button>Cadastrar</button>

                </form>

                <button class="vies_user">Cadastrados</button>

            </div>

            <div class="cadastrados">

                <h1>Cadastrados</h1>

                <div class="info_users">

                    <div class="titles">

                        <h1>Nome</h1>

                        <h1>Idade</h1>

                    </div>

                    <div class="table">
                    
                        <div class="info-name">
                        
                            <ul>
                                {% for user in users %}
                                    <li>{{ user.name }}</li>
                                {% endfor %}                                
                            </ul>
                        
                        </div>
                    
                        <div class="info-age">
                    
                            <ul>
                    
                                {% for user in users %}
                                    <li>{{ user.age }}</li>
                                {% endfor %} 
                                
                            </ul>
                    
                        </div>

                        <div class="info-remove">

                            <a href="#">
                                <img src="../static/imagens/lixeira.png" alt="Imagem de um lixeira">
                            </a>

                        </div>
                    
                    </div>

                </div>

            </div>

        </div>

    </div>

    <script src="../static/js/content.js"></script>

</body>

</html>